$purple-color: #6C5CE7;
$black-color: #2D3436;
$gray-color: #5C5C5C;
$lightGray-color: #c4c4c4;
$orange-color: #FDCB6E;
$yellow-color: #FFEAA7;
$white-color: #fff;
$red-color: rgb(250, 31, 31);
$lightgreen-color: #55EFC4;