footer{
    position: relative;
    padding: 3em 0;

    img.footer-pattern{
        position: absolute;
        bottom: 0;
        left: -40px;
    }
    
    .mobile-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p:first-of-type{
            font-size: 14px;
            color: $black-color;
            line-height: 24px;
            margin-bottom: 5px;
            text-align: center;

            span{
                display: block;
                text-align: center;
            }
        }

        p{
            font-size: 12px;
            color: darken($lightgreen-color, 25%);
            line-height: 22px;
            letter-spacing: 0.3px;
            margin-bottom: 10px;
            text-align: center;

            span{
                display: block;
                text-align: center;
            }
        }

        p:last-of-type{
            color: $purple-color;
            font-weight: bold;
            letter-spacing: 0.2px;
            font-size: 18px;
            margin-bottom: 15px;
        }

        .social-mobile{
            padding-top: 15px;
            display: inline-block;
            width: 100%;
            display: flex;
            justify-content: space-between;
            z-index: 10;
            
            img{
                cursor: pointer;
                max-width: 40px;
            }
        }
    }

    .desktop-footer{
        display: none;
    }
}